<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centered Login Form</title>
    <link rel="stylesheet" href="../static/css/loginForm.css">
</head>
<body>
    <div class="login-form">
        <input type="password" id="phone_no" name="phone_no" placeholder="Enter your password" required>
        <button type="submit" onclick="login()">Login</button>
    </div>
    <script src="../static/js/loginForm.js"></script>
</body>
</html>
