<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dynamic Table with Edit/Save/Cancel/Delete</title>
  <link rel="stylesheet" href="static/css/admin.css">  <!-- same not changing it since the css is same -->
  
</head>
<body>
  <h1>User Information</h1>
   
  <table id="userTable">
    <thead>
        <tr>
            <th>Sr. No.</th>
            <th>ID</th>
            <th>Name</th>

            <th>Role</th>

            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
      <!-- Data rows will be inserted here dynamically  -->
    </tbody>
  </table>
<!--   commented here -->

  <script src = "../static/js/userInfo_edit_byAdmin.js">
  </script>
</body>
</html>
