body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.my-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: auto;
    padding-left: 0px;
}

.my-container-header {
    display: inline-flex;
    height: max-content;
    width: 100%;
}

.company-logo {
    margin-top: 5px;
    margin-right: 5px;
}

.handoverform {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 70%;
    margin-left: 15%;
    height: 40px;
    padding: 8px;
    border: 1px solid black;
}

.handoverform-content {
    display: flex;
    flex-direction: row;
    width: 55%;
    height: 100%;
    max-height: 30px;
}

.handoverform-content label {
    margin-right: 5px;
}

.page-name {
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
}

.btn.btn-primary {
    color: white;
    background-color: #262626;
    border-radius: 5px;
    border-color: #262626;
    margin-top: 15px;
    margin-left: 5px;
    max-height: 40px;
}

.btn.btn-primary:hover {
    background-color: #404040;
    border-color: #404040;
}

.offcanvas-header {
    border-bottom: 2px solid #404040;
}


.my-offcanvas-header {
    justify-content: center;
    text-align: center;
    margin-left: 25%;
}

.header-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    margin-top: 10%;
    margin-bottom: 20%;
}

.header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-image h6 {
    margin-top: 5px;
}

.offcanvas-body {
    padding: 0px !important;
    width: 100%;
}

.offcanvas.offcanvas-start {
    background-color: #262626;
    color: white;
    max-width: 15%;
    padding-left: 5px;
    padding-right: 5px;
}

.btn-close {
    border-color: #262626;
}

.btn-close:hover {
    background-color: #404040;
}

.section-container {
    border-bottom: 3px solid #404040;
    padding-bottom: 5px;
    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
}

.button-container button {
    background-color: #262626;
    color: white;
    font-weight: bold;
    font-size: medium;
    padding: 5px;
    text-align: left;
    border-radius: 8px;
    border-color: #262626;
    margin-top: 5px;
    border: #262626;
}

.button-container button:hover {
    background-color: #404040;
}

.send-items {
    background-color: #404040 !important;
}

.section-header {
    margin-top: 20px;
}

.section-header h6 {
    font-size: small;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logout-button-container {
    margin-top: 30%;
    margin-right: 10px;
    text-align: right;
}

.logout-button-container button {
    background-color: #262626;
    color: white;
    font-weight: bold;
    font-size: medium;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.logout-button-container button:hover {
    background-color: #404040;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: white;
    margin-top: 1%;
    height: 500px;
    width: 70% !important;
    padding: 0 !important;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 10px rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    overflow: hidden; /* Ensure content stays within the container */
    
}

.table-button-container {
    display: flex;
    justify-content: space-between; /* Align items at each end of the container */
    align-items: center; /* Align items vertically */
    width: 100%;
    height: 60px;
    background-color: rgba(38, 38, 38);
    border-radius: 5px;
    padding: 0 20px; /* Add padding to keep buttons away from container edges */
}

.table-button-container button {
    background-color: rgba(38, 38, 38);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px 20px;
    cursor: pointer;

}

.table-button-container button:hover {
    background-color: #404040;
}

.tabs {
    display: flex;
    justify-content: space-between; /* Align items at each end of the container */
    align-items: center; /* Align items vertically */
    width: 100%;
    background-color: rgba(38, 38, 38);
    border-radius: 5px;
    padding: 0 20px; /* Add padding to keep buttons away from container edges */
}

.transfer-button-container {
    margin-top: 30px;
    width: 100%;
    height: max-content;
    justify-content: center;
    text-align: center;
}

.transfer-button-container button {
    background-color: #262626;
    color: white;
    border-radius: 5px;
    border: #262626;
    height: 40px;
    width: 200px;
    margin-bottom: 40px;

}

.transfer-button-container button:hover {
    background-color: #404040;
}

/* Table formatting */
.table-container {
    flex: 1; /* Grow to fill the container */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd; /* Add border around the table */
    color: black; 
    padding: 5px !important;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Add bottom border for each cell */
}

th {
    background-color: rgba(68, 68, 68, 0.8); /* Light gray background for header cells */
    color: white;
    border-right: 1px solid white !important;
}

/* Styling for table rows */
tr:nth-child(even) {
    background-color: #f2f2f2; /* Alternate row background color */
}

/* Set standard width for all table columns */
th,
td {
    width: 100px; /* Adjust the width as needed */
}


/* Styling for table rows */
tr:nth-child(even) {
    background-color: #f2f2f2; /* Alternate row background color */
}

/* Hide the second tab initially */
#selectableTab {
    display: none;
}

/* Styling for hidden elements */
.hidden {
    display: none;
}


.button-container-tab button {
    
    outline: solid rgb(84, 76, 76);
}


#kindlypullup{

    margin-top: -10px;
}

#h2{

    margin-top: 5px;
}

